<aside class="side_menu">
    <div class="side_menu__logo">
      <a href="/home"><img src="/assets/img/logo_long.png" width="80px" alt="Veldora logo"></a>
    </div>
    <div class="side_menu__top">
      <div class="side_menu__profile">
        <div class="side_menu__profile_pic">
          <h2><%- user.userName[0].toUpperCase() %> </h2>
        </div>
      <p class="side_menu__profile_name"><%- user.userName %> </p>
      </div>
    </div>
    <div class="side_menu__bottom">
      <nav class="side_menu__nav">
        <a href="/dashboard" class="side_menu__link <%- pageName === "dashboard" ||pageName === "collection"   ? "side_menu__link--active" : "" %> ">
          <i class="ri-dashboard-line"></i>Dashboard
        </a>
        <a href="/review" class="side_menu__link <%- pageName === "review"   ? "side_menu__link--active" : "" %> ">
          <!-- Add review icon -->
          <i class="ri-bill-line"></i>Review
          </a>
        <a href="/settings" class="side_menu__link <%- pageName === "settings"   ? "side_menu__link--active" : "" %> ">
          <i class="ri-settings-2-line"></i>Settings
        </a>
        <a href="/logout" class="side_menu__link side_menu__link--warning">
          <i class="ri-logout-box-r-line"></i>Logout
        </a>
        
        </nav>
    </div>
  </aside>