
<body>
  <script defer src="/scripts/jquery@3.4.1.js"></script>
    <script defer src="/scripts/scroll.js"></script>
        <main>
          <%- include('partials/aside', {active: ""}) %>
          <div class="navbar_back"></div>
          <article class="dashboard">
            <div class="dashboard__top">
                    <div class="dashboard__nav">
                        <h3>Collection: <%- collection.title %> </h3>
                      
                        <div class="dashboard__nav_btns">
                              <button class="button button--trans">S</button>
                          </div>
                    </div>
                      
                      <div class="bottom">
                        <h5>Description</h5>
                        <p><%- collection.title %> </p>
                    </div>
            </div>
            <div class="dashboard__search_sect">
              <div class="dashboard__search_bar">
                <button class="button button--trans button--with_dropdown dashboard__filter_btn icon__menu">E
                  <ul class="dropdown">
                    <div>
                      <p>Search By</p>
                    <li><label>Title</label>
                    <input type="checkbox"></li>
                    <li><label>Description</label>
                      <input type="checkbox"></li>
                    </div>
                 
                  </ul>
                </button>
                <input class="dashboard__search" type="search" name="dashboard_search" id="dashboard_search" placeholder="Search collection">
                <button class="button button--sec dashboard__search_btn desktop">Search</button>
                <button class="button button--sec dashboard__search_btn mobile">Q</button>
              </div>
            </div>
                <div>
                    <table class="table-bottom">
                        <thead>
                           <tr>
                             <% keys.forEach(key => { %>
                              <th><%- key %> </th>
                             <% }) %>
                           </tr>
                        </thead>
                        <tbody>
                            <% for( let count = 0; count < collection.entries.length; count++ ) { %>
                              <tr>
                                <% collection.entries[count].forEach(item => { %>
                                  <td><%- item %> </td>
                                <% }) %>
                              </tr>
                            <% } %>
                        </tbody>
                    </table>
               
                </div>
            </article>
        </main>