
  <body>
    <script defer src="/scripts/control-modal.js"></script>

    <main class="flex">
      <%- include('partials/aside') %>
      <article class="dashboard">
        <div class="dashboard__top">
          <h3>Dashboard</h3>
          
        </div>
        <div class="dashboard__search_sect">
          <div class="dashboard__search_bar">
            <button class="button button--trans button--with_dropdown dashboard__filter_btn icon__menu"><i class="ri-equalizer-line"></i>
              <ul class="dropdown">
                <div>
                  <p>Search By</p>
                <li><label>Name</label>
                <input type="checkbox"></li>
                <li><label>Description</label>
                  <input type="checkbox"></li>
                </div>
               <div>
                <p>Sort By</p>
                <li><label>Messages (desc)</label>
                <input type="checkbox"></li>

               </div>
              </ul>
            </button>
            <input class="dashboard__search" type="search" name="dashboard_search" id="dashboard_search" placeholder="Search collection">
            
          </div>
        </div>
        <section class="dashboard__collections">
          <div class="dashboard__collections_top">
            <p class="">Collections</p>
            <button class="button open-modal-btn">Create new collection</button>
          </div>
          <div class="dashboard__collections_bottom">
            <div class="dashboard__collections_grid">
            <% if (collections.length === 0) { %>
              <span class="no-collection-sign">
                <img src="/assets/img/no_data.svg" width="200px" alt="no-collection-img"  />
                <p>You have no collections yet...</p>
              </span>
                  <% } else { %>
                  <% collections.forEach(collection => { %>
                    <div class="collection_item" id="<%- collection.collectionID %>">
                      <div class="collection_item__top">
                        
                          <img class="collection_item__icon" src="/assets/img/collection.svg" alt="">
                        
                        <div class="collection_item__message_insight"><%- collection.entries.length %>  messages</div>
                      </div>
                      <h4 class="collection_item__title"><%- collection.title %> </h4>
                      <p class="collection_item__desc"><%- collection.desc %> </p>
                    </div>
                  <% }) %>
                  <% } %>
                </div>
        </div>
        </section>
    
    <section class="modal close">
      <div class="form">
        <h4>Create new collection</h4>
        
        <form id="create-collection" action="/create" method="post">
          <label for="">
            <input id="collection_name_input" type="text" name="title" required/>
            <p class="float">Collection Name</p>
          </label>
          <label for="">
            <textarea name="desc" id="collection_desc_input" cols="30" rows="10" placeholder="A brief description of the collection" required></textarea>
          </label>
          <div class="button-sect">
              <button class="close-modal-btn">Cancel</button>
              <button type="submit">Create</button>
          </div>
        </form>
      </div>
    </section>
  </article>
  </main>
  <script defer src="/scripts/search1.js"></script>
  <script defer src="/scripts/createCollection.js"></script>
  <script defer src="/scripts/collectionItems.js"></script>
    
